* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}

.top-header {
    height: 70px;
    background-color: #020e28;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.top-header-content {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.top-header-content img {
    padding-right: 10px;
}

@media (max-width: 1024px) {
    .top-header {
        height: 60px;
    }

    .top-header-content span {
        font-size: 14px;
    }

    .top-header-content img {
        width: 20px;
    }
}

@media (max-width: 768px) {
    .top-header {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }

    .top-header-content {
        padding-right: 0;
        margin-bottom: 5px;
    }

    .top-header-content img {
        width: 18px;
    }

    .top-header-content span {
        font-size: 12px;
    }

    .top-header-content:nth-child(2) {
        display: none;
    }
}


/* NAVBAR DESIGN */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-bottom: 1px solid #f0f0f0;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 100px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    transition: color 0.3s;
}

.nav-links li a.active {
    color: #f5a623;
}

.nav-links li a:hover {
    color: #f5a623;
}

.estimate-btn a {
    text-decoration: none;
    padding: 10px 20px;
    background: linear-gradient(to right, #f5a623, #0084ff);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    transition: background 0.3s;
}

.estimate-btn a:hover {
    background: linear-gradient(to right, #0084ff, #f5a623);
}

/* Responsive Design */

@media (max-width: 1024px) {
    .nav-links {
        display: flex;
    }

    .estimate-btn a {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .menu-toggle .bar {
        height: 3px;
        width: 25px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.4s;
    }

    .estimate-btn {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .estimate-btn a {
        width: 90%;
        text-align: center;
        font-size: 16px;
        padding: 12px 0;
    }
}


/* HERO SECTION DESIGN */

.hero-section {
    background-image: url('../img/hero-bg.png');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    position: relative;
    z-index: 1;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.hero-text h1 {
    font-size: 48px;
    line-height: 1.2;
    color: white;
    text-transform: uppercase;
}

.hero-text p {
    font-size: 18px;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
}

.highlight-yellow {
    color: #f5a623;
}

.highlight-blue {
    color: #0084ff;
}

.hero-image {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    z-index: 3;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    left: 69%;
    transform: translateX(-50%);
    z-index: 2;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #0084ff;
}



@media (max-width: 1024px) {
    .hero-text h1 {
        font-size: 40px;
    }

    .hero-image {
        width: 400px;
        height: 400px;
    }

    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .slider-dots {

        left: 50%;

    }
}

@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 30px;
    }

    .hero-image {
        width: 250px;
        height: 250px;
        margin-top: 20px;
    }

    .slider-dots {
        margin-top: 10px;
    }

    .hero-text p {
        font-size: 16px;
    }

    .slider-dots {

        left: 50%;

    }
}



/* INFO SECTION DESIGN */
.info-cards-section {
    padding: 50px 0;
}

.info-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card {
    padding: 30px 20px;
    flex: 1;
    min-width: 250px;
}

.info-card-border {
    border-right: 1px solid #dadada;
}

.card .icon img {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.card p {
    font-size: 16px;
    color: #666;
}

.why-anncar {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-anncar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.anncar-image {
    text-align: center;
}

.anncar-image img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.anncar-text {
    flex: 1;
    max-width: 600px;
}

.anncar-text h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
}

.common-line {
    width: 100px;
    height: 2px;
    background-color: #007dff;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
}

.anncar-text h2 .highlight-yellow {
    color: #f5a623;
}

.anncar-text p {
    font-size: 18px;
    color: #666;
}

@media (max-width: 1024px) {

    .info-cards {
        flex-wrap: wrap;
        gap: 10px;
    }

    .card {
        padding: 20px;
    }

    .why-anncar-content {
        gap: 30px;
    }

    .anncar-text h2 {
        font-size: 30px;
    }

    .anncar-text p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    .info-cards {
        flex-direction: column;
    }

    .card {
        margin-bottom: 20px;
    }

    .info-card-border {
        border-right: none;
    }

    .why-anncar {
        padding: 30px 0;
    }

    .why-anncar-content {
        flex-direction: column;
        text-align: center;
    }

    .anncar-image img {
        max-width: 200px;
        margin-bottom: 20px;
    }

    .anncar-text {
        max-width: 100%;
    }

    .anncar-text h2 {
        font-size: 24px;
    }

    .anncar-text p {
        font-size: 14px;
    }
}


/* INFO CARD SECTION DESIGN */

.infoCard-section {
    background-image: url('../img/hero-bg.png');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    position: relative;
}

.parts-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
}

.part-card {
    padding-top: 40px;
    padding-bottom: 10px;
    border-radius: 8px;
    position: relative;
    text-align: left;
}

.part-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.part-card h3 .highlight {
    color: #f6a400;
}

.part-card p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: white;
    font-weight: 500;
}

.info-common-line {
    width: 70px;
    height: 2px;
    background-color: #007dff;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
}

.part-card a {
    color: #f6a400;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

.part-card .icon {
    position: absolute;
    top: -30px;
    left: 10px;
    width: 50px;
    height: 50px;
}

@media (max-width: 1024px) {

    .parts-section {
        grid-template-columns: 1fr 1fr;
        gap: 80px;
    }

    .part-card h3 {
        font-size: 22px;
    }

    .part-card p {
        font-size: 13px;
    }

    .part-card .icon {
        top: -20px;
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 768px) {

    .infoCard-section {
        padding: 50px 0;
    }

    .parts-section {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .part-card {
        padding-top: 30px;
    }

    .part-card h3 {
        font-size: 20px;
    }

    .part-card p {
        font-size: 12px;
    }

    .part-card .icon {
        top: -15px;
        width: 40px;
        height: 40px;
    }

    .info-common-line {
        width: 60px;
    }

    .part-card a {
        font-size: 12px;
    }
}


/* TOP BAND SECTION */
.top-brands-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

.text-content {
    max-width: 50%;
}

.text-content h2 {
    font-size: 2rem;
    color: #00337C;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.text-content h2 span {
    color: #FBB600;
}

.brand-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.brand {
    margin-bottom: 5px;
}

.brand h3 {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.brand p {
    font-size: 1rem;
    color: #555;
}

.image-content {
    max-width: 45%;
    text-align: right;
}

.image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media screen and (max-width: 1024px) {

    .top-brands-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .text-content,
    .image-content {
        max-width: 100%;
    }

    .text-content {
        margin-bottom: 40px;
    }

    .brand-display {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {

    .top-brands-section {
        flex-direction: column;
        padding: 30px 0;
    }

    .text-content h2 {
        font-size: 1.8rem;
    }

    .brand h3 {
        font-size: 1rem;
    }

    .brand p {
        font-size: 0.9rem;
    }

    .image-content img {
        max-width: 100%;
        height: auto;
    }

    .brand-display {
        grid-template-columns: 1fr;
    }
}


/* REQUEST PART SECTION */
.part-section {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.part-background {
    background-image: url('/img/request-part-bg.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.part-content-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/img/request-1.png');
    background-position: left 20% center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.part-content {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    background-color: #141d32;
    color: white;
    padding: 40px;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.part-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #007dff;
}

.part-content p {
    font-size: 14px;
    margin-bottom: 30px;
}

.highlight-yellow {
    color: #f5a623;
}

.part-content .request-button {
    background-color: #007dff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.request-button:hover {
    background-color: #007dff;
}

@media screen and (max-width: 1024px) {

    .part-section {
        height: 350px;
    }

    .part-content {
        max-width: 600px;
        padding: 30px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .part-content h2 {
        font-size: 24px;
    }

    .part-content p {
        font-size: 13px;
    }

    .request-button {
        padding: 8px 18px;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {

    .part-section {
        height: 300px;
    }

    .part-background {
        padding: 20px;
    }

    .part-content {
        max-width: 90%;
        padding: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .part-content-bg {
        background-size: 150px auto;
        background-position: top left;
    }

    .part-content h2 {
        font-size: 22px;
    }

    .part-content p {
        font-size: 12px;
    }

    .request-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}



/* FOOTER SECTION DESIGN */

.footer-logo-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
}

.footer {
    background-color: #020e28;
    padding-top: 50px;
    color: #ffffff;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
    font-weight: 400;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-section ul li {
    list-style: none;
    margin-bottom: 5px;
}

.footer-section a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 10px;
}

.social-icons img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.in-touch-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-section .request-button {
    background: linear-gradient(to right, #f5a623, #0084ff);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.request-button:hover {
    background-color: #d4931a;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000818;
}

@media (max-width: 480px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        width: 100%;
        margin: 10px 0;
    }

    .footer-logo {
        width: 120px;
        height: 40px;
    }

    .footer-section h2 {
        font-size: 18px;
    }

    .footer-section p {
        font-size: 14px;
    }

    .footer-section ul li {
        font-size: 14px;
    }

    .social-icons img {
        width: 25px;
        height: 25px;
    }

    .footer-bottom {
        font-size: 10px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-section {
        width: 45%;
        margin: 10px;
    }

    .footer-logo {
        width: 140px;
        height: 45px;
    }

    .footer-section h2 {
        font-size: 20px;
    }

    .footer-section p {
        font-size: 15px;
    }

    .footer-section ul li {
        font-size: 14px;
    }

    .social-icons img {
        width: 28px;
        height: 28px;
    }

    .footer-bottom {
        font-size: 11px;
    }
}

@media (min-width: 769px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-section {
        flex: 1;
        margin: 20px;
    }

    .footer-logo {
        width: 150px;
        height: 50px;
    }

    .footer-section h2 {
        font-size: 22px;
    }

    .footer-section p {
        font-size: 16px;
    }

    .footer-section ul li {
        font-size: 15px;
    }

    .social-icons img {
        width: 30px;
        height: 30px;
    }

    .footer-bottom {
        font-size: 12px;
    }
}